<footer class="footer bg-dark py-3 mt-auto">
    <div>
        <div class="container text-center">
            <span class="text-muted ">&copy; Yelp Camp</span>
        </div>
        
    </div>
</footer>